body {
    background-color: #83A0A0;
    color: white;
}
header, nav {
    background-color: #3e464b;
    text-align: center;
    padding: 15px;
}
.nadpis1 {
    text-align: left;
    padding: 4px;
}
.row1 {
    padding: 6px;
    background-color: #F9B9F2;
}
.row2 {
    padding: 6px;
    background-color: #BCA0BC;
}