body {
    background-color: #83A0A0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
img {
    height: 250px;
    padding: 2px;
}
header {
    color: white;   
    text-align: center;
    padding: 15px;
    background-color: darkslategrey;
    

}
.nadpis1 {
    text-align: left;
    padding: 0px;
    padding-left: 8px;
}
.row1 {
    padding: 6px;
    background-color: #F9B9F2;
}
.row2 {
    padding: 6px;
    background-color: #BCA0BC;
}
nav>a {
    color: white;
    padding: 15px;
}
a {
    text-decoration: none;
}
footer {
    padding-top: 40px;
    text-align: center;
    padding: 50px;       
}
.odstavec {
    padding: 40px;
    padding-top: 0px;
    padding-left: 15px;
}
.row1-a {
    padding: 15px;
    background-color: #F9B9F2;
        
}
.row2-a {
    padding: 15px;
    background-color: #BCA0BC;

}
.nadpis2 {
    padding-left: 18px;
    padding-top: 20px;
}
.obrazek {
    text-align: right;
    padding-right: 30px;
    
    
}
.flex {
    display:flex;
    
}
.zakaznici {
    margin : 2px 10px;
}
.odkazy a, .odkazy a:visited {
    text-decoration: none;
    color: white;
    padding-top: 30px;
}
li.item {
    padding: 1em;
}
button {
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.cudlik {
    padding-left: 45px;
    padding-bottom: 20px;
    padding-top: 0px;
}
.icon {
    text-align: left;
    
}
