body {
    background-color: #83A0A0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
img {
    height: 250px;
    padding: 2px;
}
header {
    color: white;
    background-color: #3e464b;
    text-align: center;
    padding: 15px;
}
.nadpis1 {
    text-align: left;
    padding: 0px;
    padding-left: 8px;
}
.row1 {
    padding: 6px;
    background-color: #F9B9F2;
}
.row2 {
    padding: 6px;
    background-color: #BCA0BC;
}
nav>a {
    color: white;
    padding: 15px;
}
a {
    text-decoration: none;
}
footer {
    padding-top: 40px;
    text-align: center;
    padding: 50px;       
}
.odstavec {
    padding: 40px;
    padding-top: 0px;
    padding-left: 15px;
}
